.slider {
    margin: 0 auto;
    position: relative;
    width: 300px;
    height: 300px;
    // background-color: #0fb5e7;
    .canvas-ceng{
      position: absolute;
      left: 0;
    }
    .slider-div{
      width: 300px;
      height: 50px;
      border-radius: 25px;
      background-color: #12e4a5;
      position: relative;
      margin-top: 15px;
      .slider-moved{
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 0px;
        border-radius: 25px;
        background-color: green;
      }
      .slider-circle{
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        // background-color: red;
        background: url('../../assets/heihei.jpg');
        background-size:50px 50px;
        background-repeat:no-repeat;
        cursor: pointer;
      }
    }
    .refresh{
      // background-color: #df1aa4;
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      span{
        color: #df1aa4;
        cursor: pointer;
      }
    }
    .adopt{
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 300px;
      line-height: 300px;
      text-align: center;
      z-index: 999;
      background: rgba(216, 213, 213, 0.6);
      span{
        cursor: pointer;
      }
    }
  }
  